html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../images/spiderback2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

#wrapper {
  width: 960px;
  height: 95%;
  box-sizing: border-box;
  margin: 2.5% auto;
  background-color: #fff17a;
  background-image: url("../images/spiderback3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

#sub-wrapper {
  position: relative;
  top: 15%;
}

button {
  display: block;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

img {
  height: 200px;
}

h1 {
  padding-top: 2.5%;
  font-family: Geo, sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color: blue;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 black, 0 -1px black;
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

#start {
  margin-top: 10%;
  background: pink;
  border: 2px solid blue;
}

button:hover {
  background: pink;
  border: 2px solid blue;
}

.answerBtn {
  margin-top: 10%;
  background: pink;
  border: 2px solid blue;
  margin-top:6px;
  font-size: 2em;
}
 
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: crimson;
  font-weight: bold;
  font-size: 3em;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 black, 0 -1px black;
}

#question{
  font-family: 'Permanent Marker', cursive;
  color: rgb(255, 47, 47);
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 black, 0 -1px black;
  font-size: 2.5em;
  margin-bottom:40px;
}

#counter{
  font-family: 'Permanent Marker', cursive;
  color: rgb(255, 47, 47);
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 black, 0 -1px black;
  font-size: 4em;
  margin-bottom: 5px;
}

#resetBtn {
  margin-top: 10%;
  background: pink;
  border: 2px solid blue;
  margin-top:80px;
}

#endFont{
  padding-top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5.5em;
  font-weight: bold;
  color: blue;

}